{% extends 'blog/base.html' %}
{% block content %}
    <p class="helpi" style="padding-top: 3vh">  Wheelbets - проект, предназначенный для помощи в игре "wheel of fortune" в разделе
       "betgames". Используя информацию, передаваемую ресурсу высокоточным алгоритмом, он позволяет прогнозировать наиболее вероятный
       исход(подробнее о том, как понять на что ставить смотрите в разделе <a href="{% url 'blog-help' %}" style="color: grey">"Помощь"</a>).</p>
    <p class="helpi" style="padding-top: 3vh">Список ресурсов, на которых можно играть в "wheel of fortune":</p>
    <div style="text-align: center; padding-top: 3vh">
    <p><a class="helpi" href="https://air2.parimatch.com/ru/betgames" style="color: grey">parimatch.com</a></p>
    <p><a class="helpi" href="https://linkthis.link/WYFnHzJ6" style="color: grey">leon</a></p>
    <p><a class="helpi" href="https://www.marathonbet.com/su/live-games/livegames?uuid=a237a2e3-e836-4291-8cb6-1aaf4498301f&demo=true" style="color: grey">marathonbet</a></p>
    <p><a class="helpi" href="https://m.favbet.com/ru/tvloto/" style="color: grey">favbet</a></p>
    </div>
{% endblock content %}
