{% extends 'blog/base.html' %}
{% block content %}
    <p class="helpi" style="padding-top: 3vh">  Wheelbets - проект, предназначенный для помощи в игре "wheel of fortune" в разделе
       "betgames". Используя информацию, передаваемую ресурсу высокоточным алгоритмом, он позволяет прогнозировать наиболее вероятный
       исход(подробнее о том, как понять на что ставить смотрите в разделе <a href="{% url 'blog-help' %}" style="color: grey">"Помощь"</a>).</p>
    <p class="helpi" style="padding-top: 3vh">Список ресурсов, на которых можно играть в "wheel of fortune":</p>
    <div style="text-align: center; padding-top: 3vh">
    <p><a class="helpi" href="https://affpros.net/?serial=943&creative_id=261&anid=" style="color: grey">parimatch.com</a></p>
    <p><a class="helpi" href="https://linkthis.link/WYFnHzJ6" style="color: grey">leon(бонус код wheelbets)</a></p>
    <p><a class="helpi" href="https://analyticsq1.com/fav_uni/?serial=2533&creative_id=1828&anid=" style="color: grey">favbet</a></p>
    </div>
{% endblock content %}
