{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <div class="container-fluid">
    <p class="helpi" style="padding-top: 3vh">Проект Wheelbets - ваш персональный помошник, который тщательно анализируя при помощи высокоточных алгоритмов предыдущие результаты колеса фортуны,
     способен с высокой точностью спрогназировать следующий результат. Следует также принимать во внимание, что прогноз появляется за 30 секунд до начала соответствующего кона. Всего наш помошник предлагает четыре вида ставок: </p>
    <p class="helpi"> <img src="{% static 'blog/images/red.png' %}" style="height: 3vh; width: auto;"> - означает, что алгоритм предполагает, что в следующем
    вращении выпадет число красного цвета, следовательно стоит поставить на то, что выпадет число красного цвета;</p>
    <p class="helpi"> <img src="{% static 'blog/images/black.png' %}" style="height: 3vh; width: auto;"> - означает, что алгоритм предполагает, что в следующем
    вращении выпадет число черного цвета, следовательно стоит поставить на то, что выпадет число черного цвета;</p>
    <p class="helpi"> <img src="{% static 'blog/images/grey.png' %}" style="height: 3vh; width: auto;"> - означает, что алгоритм предполагает, что в следующем
    вращении выпадет число серого цвета, следовательно стоит поставить на то, что выпадет число серого цвета;</p>
    <p class="helpi"> <img src="{% static 'blog/images/cup.png' %}" style="height: 3.2vh; width: auto;"> - означает, что алгоритм предполагает, что в следующем
    вращении выпадет кубок, следовательно стоит поставить на то, что выпадет кубок.</p>
    <p class="helpi"><span style="border: 2px solid black;width: auto; padding-right: 0.1em; padding-left: 0.15em; font-size: 2.5vh"> 17</span> - означает, что алгоритм предполагает, что в следующем
    вращении стрелка укажет на число 17, следовательно стоит поставить на то, что выпадет 17.</p>
    <p class="helpi">Список сайтов, где можно играть в колесо фортуны:</p>
        <div style="text-align: center">
    <p><a class="helpi" href="https://affpros.net/?serial=943&creative_id=1&anid=" style="color: grey">parimatch.ru</a></p>
    <p><a class="helpi" href="https://linkthis.link/WYFnHzJ6" style="color: grey">leon(бонус код wheelbets)</a></p>
    <p><a class="helpi" href="https://analyticsq1.com/fav_uni/?serial=2533&creative_id=1828&anid=" style="color: grey">favbet</a></p>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock content %}
