{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="helpi" style="padding-top: 3vh;">Список ресурсов, на которых можно играть в "wheel of fortune":</h1>
    <div style="text-align: center; padding-top: 3vh">
    <p class="helpi"><a href="https://affpros.net/im.js?serial=943&creative_id=1&anid=" style="color: grey">parimatch.com</a></p>
    <p class="helpi"><a href="https://linkthis.link/WYFnHzJ6" style="color: grey">leon(бонус код wheelbets)</a></p>
    <p class="helpi"><a href="https://analyticsq1.com/fav_uni/?serial=2533&creative_id=1828&anid=" style="color: grey">favbet</a></p>
    </div>
{% endblock content %}
