{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="helpi" style="padding-top: 3vh;">Список ресурсов, на которых можно играть в "wheel of fortune":</h1>
    <div style="text-align: center; padding-top: 3vh">
    <p class="helpi"><a href="https://air2.parimatch.com/ru/betgames" style="color: grey">parimatch.com</a></p>
    <p class="helpi"><a href="https://ru.kc71leogam88.com/tv-games/lucky-6" style="color: grey">leon</a></p>
    <p class="helpi"><a href="https://www.marathonbet.com/su/live-games/livegames?uuid=a237a2e3-e836-4291-8cb6-1aaf4498301f&demo=true" style="color: grey">marathonbet</a></p>
    <p class="helpi"><a href="https://m.favbet.com/ru/tvloto/" style="color: grey">favbet</a></p>
    </div>
{% endblock content %}
